<a class="icon-link astro" href="/" aria-label="Goto Top Page">
  <img class="icon" src="/astro.svg" alt="Astro logo" />
</a>

<a
  class="icon-link cat"
  href="/demo-animals/csr-cat"
  aria-label="Goto Cat Page"
>
  <img class="icon" src="/demo-animals/cat.svg" alt="Cat icon" />
</a>

<a
  class="icon-link bird"
  href="/demo-animals/ssg-bird"
  aria-label="Goto Bird Page"
>
  <img class="icon" src="/demo-animals/bird.svg" alt="Bird icon" />
</a>

<a
  class="icon-link shiba"
  href="/demo-animals/ssr-shiba"
  aria-label="Goto Shiba Page"
>
  <image
    class="icon"
    src="/demo-animals/shiba.png"
    alt="Shiba icon"
    loading="eager"
    width="96"
    height="96"
  />
</a>
