<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Top</title>

    <script>
      import '@/styles/global.scss';
      import '@/components/main/main';
      import '@/components/counter/counter';
      import '@/components/navigation/navigation';
    </script>
  </head>

  <body>
    <app-main>
      <app-navigation></app-navigation>
      <app-counter></app-counter>
    </app-main>
  </body>
</html>
